@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700&display=swap');

body {
font-family: 'Lora', serif;
margin: 0;
padding: 0;
font-size: 18px;
color: #494949;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  padding-left: 30%;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  color: white;
  color: #A0A0A0;
  font-weight: lighter;
}

.link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
    }

p {
  text-align: justify;
}

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.header {
  background-image: url("https://source.unsplash.com/random/1200x400");
  background-size: cover;
  padding: 120px 0;
}
.header p {
  text-align: justify;
  padding-left: 30%;
  font-size: 24px;
  color: white;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}





